@{
    ViewData["Title"] = "Index";
}

<h1>Admin Översikt</h1>

<a asp-area="Admin" asp-controller="Car" asp-action="Index">Bilar</a>

<a asp-area="Admin" asp-controller="Customer" asp-action="Index">Kunder</a>

<a asp-area="Admin" asp-controller="BookingOrder" asp-action="Index">Bokningar</a>
