@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img id="logoimg" src="~/img/FribergCarRentalsimg.png" alt="Logo for FribergCarRentals" />
</div>
<div>
    <div class="welcome"><h2>Välkommen till Friberg Car Rentals</h2></div>
    <div class="welcomeDesc"><p>Boka en fartfylld upplevelse hos oss!</p></div>
    <div class="welcomeBoka">
        <a href="https://localhost:7119/Car">
            <button class="bokaBtn">Boka Här!</button>
        </a>
    </div>
</div>