@using FribergCarRentalsHemuppgift.ViewModel
@{
    ViewData["Title"] = "Registrera";
}
@model RegisterViewModel

<h4>Registrera</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        @await Html.PartialAsync("_RegisterForm", Model)
    </div>
</div>